@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}



.bg-primary {
    /*background: linear-gradient(135deg, rgba(50, 47, 156, 1) 0%, rgba(92, 54, 160, 1) 50%, rgba(135, 61, 164, 1) 100%);*/
    /*background: linear-gradient(135deg, rgba(50, 47, 156, 1) 0%, rgba(92, 54, 160, 1) 50%, rgba(135, 61, 164, 1) 100%);*/
    background: linear-gradient(135deg, rgba(30, 27, 126, 1) 0%, rgba(62, 24, 130, 1) 50%, rgba(105, 31, 134, 1) 100%);
    /*background: linear-gradient(135deg, rgba(10, 10, 50, 1) 0%, rgba(20, 20, 60, 1) 50%, rgba(30, 30, 70, 1) 100%);*/



}

.bg-secondary {
    /*background: #2b2d77;*/
    background: linear-gradient(135deg, #2b2d77, #000000);
    background: linear-gradient(135deg, rgba(15, 15, 40, 1), rgba(5, 5, 20, 1));

}

.mobile-nav {
    @apply fixed top-10 left-0 bg-gray-900 w-full h-1/4  ;
}

.mobile-nav li {
    @apply w-full h-full text-center border-b-2 ;
}

.project-desc {
    @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100;
}

.btn {
    @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded  ;
}

.btn2 {
    @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded  ;
    width: 44%;
}

#resume {
    padding-bottom: 20px;
}

.hover\:text-accent:hover {
    color: #FF5733; /* Example accent color */
}


html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    }
